:host {
  display: block;
  background-color: var(--background-color);
  color: var(--text-color);
}

::ng-deep .bg-light {
  background-color: var(--background-color) !important;
}

.text-danger{
  color: red !important;
}


body{
  background-color: var(--background-color) !important;
}