.dark-theme {
  --background-color: #202020;
  --text-color: #fff;
  --sub-title-color: #b7b4b4;
  --nav-text-color: #ffffff;
}

.light-theme {
  --background-color: #fff;
  --text-color: #333;
  --sub-title-color: #575757;
  --nav-text-color: #202020;
}

.li-custom-button {
  align-items: center !important;
  display: flex !important;
  padding: 0px 10px 0px 20px;
  cursor: pointer;

  i {
    font-size: 1rem !important;
  }

  a {
    color: var(--nav-text-color) !important;
  }

  @media (max-width: 992px) {
    display: none !important;
  }

  @media screen and (min-width: 992px) {
    display: flex !important;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.sub-title {
  color: var(--sub-title-color);
}

.nav-link {
  color: var(--nav-text-color) !important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px !important;
  cursor: pointer;

  @media (max-width: 992px) {
    font-size: 12px !important;
    padding: 5px 0px !important;
    padding-left: 10px !important;
  }

  @media screen and (min-width: 992px) {
    font-size: 14px !important;
    padding: 8px !important;
  }
}

.navbar-collapse {
  @media (max-width: 992px) {
    padding-top: 15px !important;
  }

  @media screen and (min-width: 992px) {
    padding-top: 0px !important;
  }
}

.navbar-toggler {
  border: none !important;
  color: var(--nav-text-color) !important;
  padding: 0px !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

::ng-deep .bg-light {
  background-color: var(--background-color) !important;
}
