.dark-theme {
  --background-color: #202020;
  --text-color: #fff;
  --sub-title-color: #b7b4b4;
  --nav-text-color: #ffffff;
}

.light-theme {
  --background-color: #fff;
  --text-color: #202020;
  --sub-title-color: #575757;
  --nav-text-color: #202020;
}

.li-custom-button {
  align-items: center !important;
  display: flex !important;
  padding: 0px 10px 0px 20px;
  cursor: pointer;

  i {
    font-size: 1rem !important;
  }

  a {
    color: var(--nav-text-color) !important;
  }

  @media (max-width: 992px) {
    display: none !important;
  }

  @media screen and (min-width: 992px) {
    display: flex !important;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif !important;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}



.nav-link {
  color: var(--nav-text-color) !important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px !important;
  cursor: pointer;

  @media (max-width: 992px) {
    font-size: 12px !important;
    padding: 5px 0px !important;
    padding-left: 10px !important;
  }

  @media screen and (min-width: 992px) {
    font-size: 14px !important;
    padding: 8px !important;
  }
}

.navbar-collapse {
  @media (max-width: 992px) {
    padding-top: 15px !important;
  }

  @media screen and (min-width: 992px) {
    padding-top: 0px !important;
  }
}

.navbar-toggler {
  border: none !important;
  color: var(--nav-text-color) !important;
  padding: 0px !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

::ng-deep .bg-light {
  background-color: var(--background-color) !important;
}


.heading {
  font-size: 30px;
  font-weight: 600;
  margin: 0px !important;
  padding-bottom: 8px;
  font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));

}

.sub-title {
  color: var(--sub-title-color);
}

.sub-heading {
  font-size: 14px;
  font-size: calc(11px + (14 - 11) * ((100vw - 320px) / (1920 - 320)));
  color: var(--sub-title-color);
}

.side-heading {
  font-size: 16px;
  font-weight: 450;
  margin-bottom: 10px;
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
}


.normal-text {
  padding-left: 20px !important;
  text-align: justify;
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));

  .text {
    color: var(--sub-title-color);

  }
}


input[type="text"],
[type="email"] {
  background-color: transparent !important;
  border-color: var(--sub-title-color) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--sub-title-color) !important;
  font-size: 14px !important;
  height: 40px !important;
}

textarea {
  background-color: transparent !important;
  border-color: var(--sub-title-color) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--sub-title-color) !important;
  font-size: 14px !important;
}

input[type="file"] {
  background-color: transparent !important;
  border-color: var(--sub-title-color) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--sub-title-color) !important;
  font-size: 14px !important;

}

.form-control:focus {
  box-shadow: none !important;
}

label {
  font-size: 12px;
}

.form-label {
  margin-bottom: 5px !important;
}

.form-control::placeholder {
  color: var(--sub-title-color) !important;
  font-size: 12px;
}

.btn-primary {
  background-color: var(--text-color) !important;
  color: var(--background-color) !important;
  font-size: 14px !important;
  border: none !important;
  min-width: 130px !important;
}

.body-content {
  border: 1px solid var(--text-color);
  border-radius: 30px;

  @media screen and (max-width : 768px) {
    border-radius: 20px !important;
  }

  @media screen and (min-width : 768px) {
    border-radius: 30px !important;
  }
}