<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, minus? Voluptas minima obcaecati maiores unde eos
    quibusdam deleniti animi rem officia saepe, necessitatibus beatae pariatur atque dolor. Modi, libero aliquam.


    <br>
    <button (click)="navigate('home')">home</button>
    <button (click)="navigate('about us')">about us</button>
    <button (click)="navigate('contact-us')">contact-us</button>
    <button (click)="navigate('get-custom-code')">get-custom-code</button>
    <button (click)="navigate('sign-up')">sign-up</button>
    <button (click)="navigate('login')">login</button>
    <button (click)="navigate('mode')">mode</button>
    <button (click)="navigate('profile')">profile</button>
    <button (click)="navigate('change-password')">change-password</button>
    <button (click)="navigate('logout')">logout</button>
</div>
<router-outlet></router-outlet>