<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="d-flex align-items-center" (click)="navigate('home')">
      <div>
        <img src="../../../../assets/images/logo.png" alt="Logo" width="60" height="60" />
      </div>
      <div class="ps-1 d-grid">
        <span class="title">Ocean of Code Craft</span>
        <span class="sub-title">A Product by Valorware Soft</span>
      </div>
    </div>
    <div>
      <button class="navbar-toggler custom-button" type="button" (click)="toggleTheme()">
        <i *ngIf="themeService.isDarkMode" class="bi bi-moon-fill"></i>
        <i *ngIf="!themeService.isDarkMode" class="bi bi-brightness-high-fill"></i>
      </button>
      <button class="navbar-toggler ps-3" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
      </button>
      
    </div>
    <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="navigate('home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigate('about-us')">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="navigate('get-custom-code')">Get Customised Code</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="navigate('contact-us')">Contact Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="navigate('sign-up')">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigate('login')">Login</a>
        </li>
        <li class="nav-item li-custom-button">
          <a (click)="toggleTheme()">
            <i *ngIf="themeService.isDarkMode" class="bi bi-moon-fill" [matTooltip]="SWITCH_TO_LIGHT_MODE"></i>
            <i *ngIf="!themeService.isDarkMode" class="bi bi-brightness-high-fill" [matTooltip]="SWITCH_TO_DARK_MODE"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>