<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, minus? Voluptas minima obcaecati maiores unde eos
    quibusdam deleniti animi rem officia saepe, necessitatibus beatae pariatur atque dolor. Modi, libero aliquam.


    <br>
    <button class="button-color-1" (click)="navigate('home')">home</button>
    <button class="button-color-2" (click)="navigate('about us')">about us</button>
    <button class="button-color-1" (click)="navigate('contact-us')">contact-us</button>
    <button class="button-color-1" (click)="navigate('get-custom-code')">get-custom-code</button>
    <button class="button-color-3" (click)="navigate('sign-up')">sign-up</button>
    <button class="button-color-1" (click)="navigate('login')">login</button>
 
    <button class="button-color-1" (click)="navigate('profile')">profile</button>
    <button class="button-color-4" (click)="navigate('change-password')">change-password</button>
    <button class="button-color-1" (click)="navigate('logout')">logout</button>
</div>

<button (click)="toggleTheme()" >
    Toggle {{themeService.isDarkMode ? 'Light' : 'Dark'}} Mode
</button>


<router-outlet></router-outlet>