.content {
    height: calc(100vh - 76px) !important;
    padding: 20px;

    @media (max-width: 992px) {
        padding-top: 15px !important;
        height: calc(100vh - 51px) !important;
        // height: calc(100vh - 234px) !important;
    }

    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}





.custom-button {
    i {
        font-size: 1rem !important;
    }
}

.title {
    font-family: "Inknut Antiqua", serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;

    @media (max-width: 992px) {
        font-size: 13px;
    }

    @media (min-width: 992px) {
        font-size: 18px !important;
    }
}

img {
    @media (max-width: 992px) {
        width: 35px !important;
        height: 35px !important;
    }

    @media (min-width: 992px) {
        width: 60px !important;
        height: 60px !important;
    }
}

.sub-title {
 
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 1.75px;

    @media (max-width: 992px) {
        font-size: 8px;
        letter-spacing: 1.5px;
    }

    @media (min-width: 992px) {
        font-size: 12px !important;
        letter-spacing: 1.75px !important;
    }
}