.body-content {
    max-width: 700px;
    margin: auto;
    margin-top: 50px !important;
    padding: 40px 30px;

    @media screen and (max-width : 768px) {
        padding: 30px 20px !important;
        max-width: 400px !important;
    }

    @media screen and (min-width : 768px) {
        padding: 40px 30px !important;
        max-width: 700px !important;
    }
}

.sub-heading {
    span {
        cursor: pointer;
    }
}