.body-content {
    max-width: 700px;
    margin: auto;
    margin-top: 50px !important;
    padding: 40px 30px;

    @media screen and (max-width: 768px) {
        padding: 30px 20px !important;
        max-width: 400px !important;
    }

    @media screen and (min-width: 768px) {
        padding: 40px 30px !important;
        max-width: 700px !important;
    }
}

.sub-heading {
    span {
        cursor: pointer;
    }
}



.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
}

.input-wrapper {
    position: relative;
}

.remove-icon {
    position: absolute;
    right: 1px;
    top: 35%;
    cursor: pointer;
    color: red;
    font-size: 2em;
}

.text-danger {
    font-size: 10px !important;
    margin-top: 4px;
    color: red !important;
}


.main-heading {
    font-size: calc(30px + 2 * (100vw - 320px) / 1600);
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.2;
}


.main {
    font-size: calc(14px + 2 * (100vw - 320px) / 1600);
    line-height: 1.7;
    color: var(--sub-title-color);

    .cursor-pointer {
        cursor: pointer !important;
    }
}