<div class="d-md-flex justify-content-between align-items-center footer">
    <div >
        © 2024 Valorware Soft. All rights reserved. Privacy Policy |Terms of use
    </div>
    <div>
        <div class="d-flex align-items-center">
            <div>
                <span>Follow Us On Social Media :</span>
            </div>
            <div>
                <a href=""><img src="../../../../../assets/images/instagram.png" alt="instagram"></a>
                <a href=""> <img src="../../../../../assets/images/facebook.png" alt="facebook"></a>
                <a href=""><img src="../../../../../assets/images/linkedin.png" alt="linkedin"></a>
                <a href=""><img src="../../../../../assets/images/twitter.png" alt="twitter"></a>
            </div>
        </div>
    </div>
</div>